table.paleblue,
table.paleblue +  ul.pagination {
    font: normal 11px/14px 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
}

table.paleblue a:link,
table.paleblue a:visited,
table.paleblue + ul.pagination > li > a {
    color: #5B80B2;
    text-decoration: none;
    font-weight: bold;
}

table thead th.orderable > a {
    padding-right: 20px;
    background: url(../django_tables2/themes/paleblue/img/arrow-inactive-up.png) right center no-repeat;
}
table thead th.orderable.asc > a {
    background-image: url(../django_tables2/themes/paleblue/img/arrow-active-up.png);
}
table thead th.orderable.desc > a {
    background-image: url(../django_tables2/themes/paleblue/img/arrow-active-down.png);
}

table tr.odd {
    background-color: #EDF3FE;
}

table tr.even {
    background-color: white;
}

table.paleblue + ul.pagination {
    background: white url(../img/pagination-bg.gif) left 180% repeat-x;
    overflow: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #DDD;
    list-style: none;
}

table.paleblue + ul.pagination > li {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}

table.paleblue + ul.pagination > li:first-child {
    margin-left: 0;
}

table.paleblue + ul.pagination > li.cardinality {
    float: right;
    color: #8d8d8d;
}
