{% extends "navegador/base.html" %}

{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Emisores</h2>
            <p>Listado de unidades púlicas que han concedido subvenciones.</p>
            <p><a class="btn btn-default" href="{% url 'emisores' %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Concesiones</h2>
            <p>Listado completo de concesiones de subvenciones.</p>
            <p><a class="btn btn-default" href="{% url 'ayudas' %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Beneficiarios</h2>
            <p>Listado de beneficiarios de subvenciones concedidas por entes públicos.</p>
            <p><a class="btn btn-default" href="{% url 'beneficiarios' %}" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>
{% endblock %}
